/*
 * Copyright {{year}} Feb29 Company. All rights reserved.
 */
package {{basePackage}}.exception;

/**
 * Generic exception class to wrap exception in {{artifactId}} service
 */
{{>generatedAnnotation}}
public class {{classname}}Exception extends Exception
{

    /* constants used in errors */
    public static final String ERROR_CODE = "{{classname}}";
    public static final String BAD_INPUT_ERROR_SUB_CODE = "BAD_INPUT_ERROR";
    public static final String GENERAL_ERROR_SUB_CODE = "UNEXPECTED_ERROR";

    private static final long serialVersionUID = 1L;

    public {{classname}}Exception (String message, Exception e) {
        super(message, e);
    }
}