/*
 * Copyright {{year}} Feb29 Company. All rights reserved.
 */
package {{basePackage}}.impl;

import {{package}}.{{classname}};
{{#imports}}import {{import}};
{{/imports}}

{{#async}}
import java.util.concurrent.Callable;
{{/async}}
import java.util.ArrayList;
import java.util.HashSet;
import java.util.HashMap;

import org.springframework.stereotype.Component;

/**
 * Implementation of {@link {{classname}} } API,will be called by the {@link {{classname}}Controller}.
 */
@Component
{{>generatedAnnotation}}
{{#operations}}
public class {{classname}}Impl implements {{classname}}
{
    {{#operation}}
    /**
     * @see {{classname}}#{{operationId}}
     */
    @Override
    public {{>returnTypes}} {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
    {
        // TODO - do some magic! Implement {{operationId}} logic here.
    {{#returnTypeIsPrimitive}}{{#responses}}{{#isDefault}}{{#isBoolean}}
        return false;
    {{/isBoolean}}{{#isInteger}}
        return 0;
    {{/isInteger}}{{#isLong}}
        return 0L;
    {{/isLong}}{{#isString}}
        return new String("");
    {{/isString}}{{^isBoolean}}{{^isInteger}}{{^isLong}}{{^isString}}
        return new {{>returnTypes}}(0.0);
    {{/isString}}{{/isLong}}{{/isInteger}}{{/isBoolean}}{{/isDefault}}{{/responses}}{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}{{#responses}}{{#isDefault}}{{#isString}}
        return UUID.randomUUID();
    {{/isString}}{{^isString}}{{#returnBaseType}}
        return new {{>returnTypes}}();
    {{/returnBaseType}}{{/isString}}{{/isDefault}}{{/responses}}{{/returnTypeIsPrimitive}}
    {{#isListContainer}}
        return {{{defaultResponse}}};
    {{/isListContainer}}{{#isMapContainer}}
        return {{{defaultResponse}}};
    {{/isMapContainer}}
    }


    {{/operation}}
}
{{/operations}}
