/*
 * Copyright {{year}} Feb29 Company. All rights reserved.
 */

package {{basePackage}}.impl;

import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;

import org.junit.runner.RunWith;

@RunWith(Cucumber.class)
@CucumberOptions(strict = true)
public class RunCukes
{
}