/*
 * Copyright {{year}} Feb29 Company. All rights reserved.
 */
 
package {{basePackage}}.impl;
 
import cucumber.api.java8.En;
 
/**
 * Unit tests for {{artifactId}} implementation
 */
public class {{classname}}StepDefs implements En
{

    public {{classname}}StepDefs()
    {
        // TODO implement unit tests here
    }
}
