<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright {{year}} Feb29 Company. All rights reserved. -->
<configuration>
    <property name="LOG_FILE"
              value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/logs/{{artifactId}}.log}"/>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd/HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="dayBasedFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>512MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.feb29.mr" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="dayBasedFile"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>