/*
 * Copyright {{year}} General Electric Company. All rights reserved.
 */

package {{configPackage}};

import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;

import org.junit.runner.RunWith;

@RunWith(Cucumber.class)
@CucumberOptions(strict = true)
public class RunCukes
{
}