# HostMonitor will read ONLY files ending in ".init" from
# the directory specified by the env var "INITDIR".

# The following keys are REQUIRED in every .init file
#-----------------------------------------------------

# name of executable file - specified as one of the following:
#   - full unix pathname
#   - filename only in current directory
#   - filename only in directory specified by env var "BINDIR"
#   - filename only in /usr/g/bin directory
# NOTE: Process is defined as `basename FILENAME`
FILENAME=/export/home/maestro/services/{{serviceName}}/run-{{serviceName}}.sh


# List of processes to start BEFORE this one
STARTPRECURSORS=""

# List of processes to stop BEFORE this one
STOPPRECURSORS=""

# Time alloted, in seconds, for process to initialize
STARTTIMEOUT=100

# Time alloted, in seconds, for process to shutdown
STOPTIMEOUT=5


# The following keys are OPTIONAL - Uncomment as needed
#-------------------------------------------------------

# Process name; Name process uniquely
PROCNAME="MR{{serviceName}}"

# Process-directed environment variables - "key=value ..." pairs
# Uncomment the following line and comment the other one for malloc checking
ENVIRON="CMD_LOC=+640+855 CMD_TITLE=MR{{serviceName}}"

# Command line arguments to pass to process
ARGV=""

# UNIX priority increment (< 0 means higher priority)
#PRI=

# HostMonitor should shutdown the entire host if this process fails
#TERMINATE_OPTION=RESTART

# Process will NEVER send [theMonitor initComplete]
#  - continue startup sequence after STARTIMEOUT seconds
SCRIPT="YES"

# Redirect standard in from file
#STDIN=

# Redirect standard output to file
#STDOUT=

# Redirect standard error to file
#STDERR=
