#!/bin/bash
# Copyright 2017 General Electric Company. All rights reserved.

BASEDIR="$(dirname $0)"
JAR=$BASEDIR/{{serviceName}}-boot.jar

JAVA_HOME=/usr/java/latest-64
PATH=$JAVA_HOME/bin:$PATH

java -version

java -jar -DLOG_PATH=$BASEDIR $JAR  --server.port=8088