# **THIS IS NOT A JAR** please build service with gradlew to create one.
# And then create symlink [{{serviceName}}.boot].jar

#run-{{serviceName}}.sh will not run until symlink for actual service executable named [{{serviceName}}.boot] is
set.