# Copyright 2017 My Company. All rights reserved
# toProduct file for {{serviceName}} service deployment
# Filename                Mode   Dest_Dir                                       Tape   Integ   Group   Owner   Link   Resp   Com
# --------                ----   --------                                       ----   -----   -----   -----   ----   ----   ---
{{serviceName}}-boot.jar   444    /export/home/maestro/services/{{serviceName}}   Tape   Int     Group   Owner   Link   Resp   #
run-{{serviceName}}.sh     554    /export/home/maestro/services/{{serviceName}}   Tape   Int     Group   Owner   Link   Resp   #
MR{{serviceName}}.init     444    /usr/g/init                                    Tape   Int     Group   Owner   Link   Resp   #
